UUID

Definitions of the UUID, respectively univeral-id, in the ONF Core IM must be checked for completeness and potentially completed.

Inserted values must be unique at least in the network domain, which is managed by the SDN Controller. Local uniqueness, inside the Device, is not sufficient.

Further characteristics (e.g. persistence after system restart or soft reset) and information structure of the ID shall be analysed and defined (if required). 

Uniqueness on SDN-Controller is ensured by concatenation of NETCONF-SERVER-Identifier (mountpoint, node-id) and the device local ids.
Note: the device does not know its outside world when generation UUIDs.
Q: Where can such statement be  documented?
I: to improve we coudl define that the OAM-MAC address is part of the UUID when UUIDs are generated by the device - issue: What happens when the Backplane is removed.

**Proposal to the 5G-xhaul call on 19th of October 2022**:
Issue should be closed without further activity.

Note:
If native NETCONF-Server implementation exists the [RFC4122 section 4.4](https://www.rfc-editor.org/rfc/rfc4122.html#section-4.4) should be implemented. - such generation process guaranties uniqueness across the universe.

In case of Mediators as part of the OAM implementation it is necessary that the    Mediator must be able to map the UUID values of the CoreModel to the identifiers of the NetworkElement.  As a consequence the UUID values does not follow the format of RFC4122 and can guarantee uniqueness only at NetworkElement level. Uniqueness on SDN-Controller is ensured by concatenation of NETCONF-SERVER-Identifier (mountpoint, node-id) and the device local ids.

